.like-button {
  display: block;
  float: left;
  cursor: pointer;
  color: #e2e2e2;
  user-select: none;
  transition: 250ms color;
}

.like-button:hover {
  color: #d1d1d1;
  transition: 250ms color;
}

.like-button.liked {
  color: #ff7070;
  transition: 250ms color;
}
